<h1>Dades latitud</h1>
<label>Latitud mínima</label>
<input type="number" [(ngModel)]="latitudMinima">
<label>Latitud màxima</label>
<input type="number" [(ngModel)]="latitudMaxima">
<h1>Dades longitud</h1>
<label>Longitud mínima</label>
<input type="number" [(ngModel)]="longitudMinima">
<label>Longitud màxima</label>
<input type="number" [(ngModel)]="longitudMaxima">

<button (click)="guardarDatos()">Obtenir nous punts interés</button>
<h1>Punts d'interés per:</h1>
<h1>{{this.latitudText}}</h1>
<h1>{{this.longitudText}}</h1>
<br>
<label>Punts d'interés:</label>
<select></select>
<button (click)="obtenerDatos()">Obtenir dades elevació</button>